extends layout 

block content
    div(class="register_container")
        h1 Login 

        form(action="/users/", method="post") 
            div(class="container_child")
                label(for="userName") What is your username?
                input(type="text", id="userName", name="userName" class="form_input" required) 

                label(for="password") Silently type in your password?
                input(type="text", id="password", name="password" class="form_input" required)


                div(class="button_container")
                    button(type="submit" class="button1_edit") Log in 

                    a(href="/register")
                        button(type="button" class="button2_edit") Register  