extends layout 

block content 
    div(class="register_container")
        h1 Register

        form(action="/users/register", method="post") 
            div(class="container_child")
                label(for="userName") What is your username?
                input(type="text", id="userName", name="userName" required) 

                label(for="password") Silently type in your password?
                input(type="text", id="password", name="password" required)

                //- label(for="confirmation") Silently type in your password?
                //- input(type="text", id="confirmation", name="confirmation" required)

                button(type="submit") Sign Up

                a(href="/") 
                    button(type="button") Log in 

                