extends layout 

block content 
    div(class="header1_edit")
        h1 View page

    div(class="logout_container")
        a(href="/users/logout")
            button(type="button" class="logout_btn") Logout

    h2 Instructions 

    ol 
        li Get all your friends together
        li One by one show them this page
        li Each person can who they are the secret santa for so tell them to press show & then go back to their group
        li Buy a gift
        li Buy good wrapping paper!
        li Wait until christmas day!
        li Get everyone together!
        li You can do a slow reveal, one by one or you can do an all reveal by pressing “show all
    
